.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.row{
  display: grid;
  grid-template-columns: repeat(8, 45px);
  grid-column-gap: 0px;
  
}

.cell{
  height:45px;
  width:45px;
} 

.odd{
  background-color: #eeeed2;
}

.black path,.black circle{
  fill: #565352 !important;
}

.even {
  background-color: #769656;

}

path{
  stroke-width: 1 !important;
}

.piece {
  width: 100%;
  height: 100%;
}

.piece svg{
  position: absolute;
}

.board{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,-50%) scale(1.15);
}

body{
  background-color: #565352;
}


[draggable="true"] {
  position: relative;
  z-index: 1;
}
